.inputBox {
  padding: 6px;
  margin: 5px;
  padding-left: 15px;
}

.heading {
  margin-top: 2% !important;
  padding: 15px;
}

.MuiInput-underline:after {
  border-bottom: white !important;
}

.MuiInput-underline:before {
  border-bottom: white !important;
}

.button {
    float: right;
    margin: 15px;
    padding: 10px;
}

.alert{
    margin-top: 15px !important;
    padding :10px !important;
}
